/**
    iphone: 480x320
    ipad: 1024x768
    pc: 990
*/
body {
    background: grey;
}
@media screen and (max-width: 960px) {
    body {
        background: red;
    }
}
@media screen and (max-width: 768px) {
    body {
        background: green;
    }
}